asyncio==3.4.3
psycopg2-binary==2.8.6
python-consul==1.1.0
sanic==20.6.3
Sanic-Cors==0.10.0.post3
sanic-healthchecks==1.0.1
injector==0.18.3
python-json-logger==0.1.11
requests==2.24.0
APScheduler==3.6.3
